<mat-toolbar class="header" fxFill>
  <div fxFill fxLayout="row">
    <div fxFlex="50">
      <div fxFlex="12" class="logo-container" style=" height: 100%;">
        <img style=" width: 100%; height: 98%;" [src]="clubLogo" alt="logo" />
      </div>
      <div fxFlex="20">
        <span class="nameHeading">{{
          storedVal.super_cur_clubName
            ? storedVal.super_cur_clubName
            : 'Club Name'
        }}</span>
      </div>
    </div>

    <div fxFlex="50" fxLayoutAlign="end">
      <div fxLayout="row" fxFlex="40" fxLayoutAlign="space-between">
        <div
          fxFlex=""
          class="m-sub-title"
          *ngIf="isSuperAdmin"
          style="text-align: right; width: 70px; "
        >
          Select Club
        </div>
        <div
          fxFlex=""
          class="m-sub-title"
          *ngIf="isSuperAdmin"
          style="text-align: left; padding-left: 10px"
        >
          <mat-select
            [value]="selectedClub"
            style="width:100%"
            placeholder="Select Club Here"
            (click)="getClubList()"
            (selectionChange)="dropdownChange($event.value)"
            required
          >
            <mat-option
              *ngFor="let club of clubsList"
              [value]="club._id"
              (click)="clubSelected(club)"
              >{{ club.club_name }}</mat-option
            >
          </mat-select>
        </div>
      </div>

      <div>
        <span class="m-pointer m-icon">
          <i class="fas fa-bell"></i>
        </span>
      </div>

      <div>
        <div class="user-dropdown">
          <div class="button" (click)="showDropdown()">
            <span class="m-pointer m-icon">
              <i class="fas fa-ellipsis-v"></i>
            </span>
          </div>
          <div class="dropdown" (click)="showDropdown()">
            <mat-card>
              <div class="menu-item" routerLink="/profile">
                <i class="fas fa-user"></i>&nbsp;&nbsp;Profile
              </div>
              <div class="menu-item" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout
              </div>
              <div class="menu-item" (click)="UpdatePassword()">
                <i class="fas fa-key"></i>&nbsp;&nbsp;Update Password
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
