@import "src/variables";
.header {
  background: $header-grey;
  // padding: 10px 20px;
  align-items: center;
  display: flex;
}

.header-icon {
  background: #ccc;
  color: $black;
  padding: 10px;
  border-radius: 50%;
  font-size: 0.7em;
  position: relative;
  top: 5px;
}

.user-dropdown {
  position: relative;
  display: inline-block;
  .dropdown {
    cursor: pointer;
    display: none;
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 34px;
    mat-card {
      width: 200px;
      padding: 5px 10px;
      .menu-item {
        padding: 3px 10px;
        border-radius: 3px;
        font-size: 0.7em;
        &:hover {
          background: $primary;
          color: $white;
        }
      }
    }
  }
}

.m-icon {
  padding: 10px;
  border-radius: 50%; // background: grey;
}

.logo-container {
  display: inline-block; // border: 1px solid black;
  height: 98%;
  overflow: hidden;
  // border-radius: 50%;
  border: 1px solid #eee; // padding: 5px;
  // box-shadow: 0px 5px 5px grey;
  img {
    // width: 50%;
    max-height: 100%;
  }
}

.nameHeading {
  padding-left: 10px;
  // padding-top: 10px;
  font-size: 30px;
  display: flex;
  // justify-content: center;
  // position: absolute;
  // top: 15px;
}

.select-dropdowns{
  align-items: center !important;
}

.m-sub-title{
  font-weight: bold;
  font-weight: 16px;
}