<div class="m-container">
  <mat-card class="m-title">
    <h3>{{ title }}</h3>
  </mat-card>

  <form #settingForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center"></div>
        <mat-card>
          <div class="input-container">
            <div class="label-container">
              <span class="label">Key</span>
            </div>
            <div class="field-container">
              <mat-form-field [floatLabel]="'never'">
                <input
                  matInput
                  name="key"
                  [(ngModel)]="setting.key"
                  #key="ngModel"
                  required
                  placeholder="Key"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>

          <div class="input-container">
            <div class="label-container">
              <span class="label">Value</span>
            </div>
            <div class="field-container">
              <mat-form-field [floatLabel]="'never'">
                <input
                  matInput
                  name="value"
                  [(ngModel)]="setting.value"
                  #value="ngModel"
                  required
                  placeholder="Value"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="input-container">
            <div class="label-container">
              <span class="label">Status</span>
            </div>
            <div class="field-container">
              <mat-checkbox
                [(ngModel)]="setting.active"
                name="active"
                #active="ngModel"
              >
                Active
              </mat-checkbox>
            </div>
          </div>
        </mat-card>

        <!-- user info end -->

        <mat-card>
          <div fxLayout="row" fxLayoutAlign="center center" style="margin: 5px">
            <div *ngIf="isEdit">
              <button
                mat-raised-button
                class="m-jumbo-button m-pointer"
                (click)="updateSetting()"
                *ngIf="settingForm.form.valid"
              >
                Update
              </button>
              <button
                mat-raised-button
                class="m-jumbo-button m-pointer"
                (click)="updateEdit()"
                *ngIf="!settingForm.form.valid"
              >
                Update
              </button>
            </div>
            <button
              mat-raised-button
              class="m-jumbo-button m-pointer"
              (click)="cancelChanges()"
            >
              Cancel
            </button>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </form>
</div>
