<div class="m-container">
  <mat-card class="m-title" fxLayout="row" fxLayoutAlign="space-between">
    <h3>Events</h3>
    <button
      mat-raised-button
      class="m-button m-pointer"
      routerLink="/events/add"
    >
      Add Event&nbsp;&nbsp;+
    </button>
  </mat-card>
  <mat-card style="min-height: 77vh">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        Event Details
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            (keyup)="doFilter($event)"
            [placeholder]="keyup ? 'Please Press Enter key' : 'Search by Name'"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-paginator
          #paginator
          [length]="totalLength"
          [pageSize]="limit"
          [pageSizeOptions]="pageLimit"
          (page)="changePage($event)"
        >
        </mat-paginator>
      </div>
    </div>

    <mat-card-content>
      <mat-divider class="m-divider"></mat-divider>
      <br />
      <!-- <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="30">
            <mat-form-field >
                <input matInput type="text" (keyup)="doFilter($event)" placeholder="Search">
              </mat-form-field>
        </div>
        <div fxFlex="40" fxLayoutAlign="end">
          <button mat-raised-button class="m-button m-pointer" routerLink="/events/add">Add Event&nbsp;&nbsp;+</button>
        </div>
      </div> -->
      <div class="m-table-container">
        <mat-table
          #table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="namesort($event)"
        >
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">Event Name </span>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              class="light-red m-pointer"
              style="margin-left:30px "
            >
              {{ element.name ? element.name : '' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="start_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">Event Date </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textCenter">
              {{ element.start_date | date: 'MM/dd/yyyy' }}
              <!-- {{element.start_date}} -->
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">&nbsp; Place &nbsp; </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <!-- {{element.location && element.location.address_line_1?
              element.location.address_line_1 : ''}} -->
              {{ element.location }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="team">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">&nbsp; Teams &nbsp; </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{
                element.home_team &&
                element.home_team.name &&
                element.opponent_team &&
                element.opponent_team.name
                  ? element.home_team.name + ' Vs ' + element.opponent_team.name
                  : ''
              }}
              <!-- {{element.team}} -->
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="event_type">
            <mat-header-cell
              *matHeaderCellDef
              class="textCenter"
              mat-sort-header
            >
              <span class="m-table-header">Event Type</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textCenter">
              <!-- [class]="(element.start_date) ? 'start_date' : '-'" -->
              {{ element.event_type }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header "> Status </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              <!-- <button
                (click)="changeEventStatus(element)"
                [class]="element.active ? 'inactive' : 'active'"
                ng-hide="element.active=false"
              >
                <div ng-hide="element.active">
                  {{ getStatus(element.active) }}
                </div>
              </button> -->
              <mat-slide-toggle
              [checked]="element.active ? 'false' : 'true'"
              (click)="changeEventStatus(element)"
              ></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef class="textCenter">
              Actions
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textCenter">
              <button
                (click)="currentEventData(element, curclub)"
                *ngIf="element.event_type === 'match'"
                [hidden]="!checkDate(element.start_date)"
              >
                Update Stats
              </button>
              <span
                [hidden]="checkDate(element.start_date)"
                class="table-icon m-pointer"
                (click)="editEvent(element)"
                title="Edit Event"
              >
                <i class="fas fa-pencil-alt"></i>
              </span>
              <span
                [hidden]="checkDate(element.start_date)"
                class="table-icon m-pointer"
                (click)="deleteEvent(element)"
                title="Delete Event"
              >
                <i class="fas fa-trash"></i>
              </span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <!-- <mat-paginator [length]="100" [pageSize]="100" [pageSizeOptions]="[25, 50, 75, 100]">
        </mat-paginator> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
