.checkbox-column {
  display: inline-block !important;
  // width:48%;
}

.dateInput {
  text-transform: uppercase;
  display: inline-block;
  width: 23%;
  background: none;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem 0.2rem;
}

::ng-deep .hide-data {
  mat-select {
    .mat-select-trigger {
      .mat-select-value {
        // .mat-select-value-text {
        color: white !important;
        // }
      }
    }
  }
}

::ng-deep .mat-checkbox .mat-checkbox-layout {
  /* margin-left: 6rem; */
  margin: auto;
}

.error1 {
  color: red;
}

.grp_outer {
  border: 1.5px solid rgb(48, 52, 55);;
  border-radius: 10px;
  padding: 10px;
  flex: auto;
  margin: 5px;
  position: relative;
}

.grp_outer .lbl {
  font-size: 18px;
  font-weight: 600;
}
.role_div{
  display: inline-block; 
  padding-right: 20px;
}


.iti {
	display: block !important;
	margin-bottom: 20px;
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: #c7cace;
	margin-top: -1px;
}

.iti .iti__country-list {
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
	width: 244px;
	max-height: 170px;
}

.iti__flag-container.open + input {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.iti .search-container input {
	font-size: 14px;
	border-color: #c7cace;
	border-radius: 0;
	padding: 5px 10px;
}

.iti .search-container input:focus {
	outline: none;
}

@media screen and (max-width: 479px) {
	.iti .iti__country-list {
		width: 88.3vw;
	}
}

ngx-intl-tel-input input {
	height: 44px;
	margin-bottom: 20px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #c7cace;
	border-radius: 4px;
	font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
	border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
	outline: none !important;
	border-color: #3498db;
	box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
	color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
	background-color: #e5eaf1;
}
