@import 'src/theme/theme-variables';
@import 'variables';

.login-container {
  // position: absolute;
  width: 200px;
  // width: 18vw;
  // background: rgba($color: #f7f7f7, $alpha: 0.6);
  background:#f7f7f7;
  opacity:0.8;

  .login-box {
    // position: absolute;
    // width: 200px;
    margin-bottom: 20px;

    .image-container {
      margin: 20px 0;
      text-align: center;

      img {
        margin: 0 auto;
        display: inline-block;
        width: 90%;
      }
    }

    h3 {
      padding: 5px;
      text-align: center;
      font-size: 18px;
    }

    mat-form-field {
      padding: 5px;
      width: 100%;

      input {
        width: 100%;
      }
    }

    button:disabled {
      background: $button-grey;
    }

    button {
      margin: 5px 0 20px 0;
      color: #ffffff;
      background: $primary;
    }
  }
}

.banner {
  background: url('/assets/backcover.jpg') no-repeat;
  background-size: cover;
}