<div class="container">
  <div class="banner">
    <div style="height: 100vh; width: 100vw; margin: 0; overflow: hidden;">
      <!-- <img src="assets/backcover.jpg" style="background-size: cover;" /> -->
      <div
        fxFill
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="1.5rem"
        class="mat-typography"
        style="position: absolute; width: 200px; top : 0;margin:0;"
      >
        <div class="login-container" fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="90%" class="login-box">
            <div class="image-container">
              <img src="assets/sportgrit_light.jpeg" />
            </div>
            <!-- <div class="errText"> {{message}}  </div> -->
            <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
              <h3><strong>Login to your account</strong></h3>
              <div class="login-error" [hidden]="!error || isLoading">
                Username or password incorrect.
              </div>
              <br />
              <div fxLayout="column">
                <mat-form-field>
                  <input
                    matInput
                    formControlName="username"
                    autocomplete="username"
                    [placeholder]="'Username'"
                    (keyup)="validateUsername($event.target.value)"
                    type="text"
                  />
                  <!-- <mat-error *ngIf="loginForm.controls.username.valid || loginForm.controls.username.untouched">
                <span>Username is required</span>
              </mat-error> -->
                </mat-form-field>
                <!-- <div *ngIf="invalidUsername" style="color: rgb(140, 10, 10);">
              <span>Invalid Mobile Number</span>
            </div> -->
                <mat-form-field>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                    autocomplete="current-password"
                    [placeholder]="'Password'"
                    required
                  />
                  <mat-icon
                    style="cursor: pointer;"
                    matSuffix
                    (click)="hide = !hide"
                    >{{ hide ? 'visibility' : 'visibility_off' }}</mat-icon
                  >
                  <!-- <mat-error *ngIf="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                <span>Password is required</span>
              </mat-error> -->
                </mat-form-field>
                <br />
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="loginForm.invalid || isLoading"
                >
                  <!-- <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader> -->
                  <span>Login</span>
                </button>
              </div>
            </form>
            <!-- <div style="    display: flex;
        justify-content: center;">
          <button mat-raised-button color="primary">
            <span>Forgot Password</span>
          </button>
        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
