mat-header-cell,
mat-cell,
.mat-cell {
  display: block; // flex prevents padding from working
  min-height: auto; // overrides the 'inherit' that set the min height of the row
  margin: auto !important;
}

.mat-form-field{
  margin: 5px;
}
.m-jumbo-button{
  padding: 5px !important;
}
.top-head{
  align-items: center !important;
}