<div class="m-container">
    <mat-card class="m-title">
      <h3>{{ title }}</h3>
    </mat-card>
  
    <form #emailTemplateForm="ngForm">
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayoutAlign="center center"></div>
  
          <mat-card>
            
            <div class="input-container">
              <div class="label-container">
                <span class="label">Subject</span>
              </div>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <input
                    matInput
                    name="subject"
                    [(ngModel)]="etemplate_data.subject"
                    #subject="ngModel"
                    required
                    placeholder="Subject"
                  />
                </mat-form-field>
              </div>
            </div>
            
          
          
            <div class="input-container">
              <div class="label-container">
                <span class="label">Content</span>
              </div>
              <div class="field-container">
                <app-ngx-editor
                  [placeholder]="'Enter content here...'"
                  [spellcheck]="true"
                  height="200px"
                  minHeight="200px"
                  [(ngModel)]="etemplate_data.content"
                  name="content"
                ></app-ngx-editor>
              </div>
            </div>
          </mat-card>
  
          <!-- user info end -->
  
          <mat-card>
            <div fxLayout="row" fxLayoutAlign="center center" style="margin: 5px">
              
              <div *ngIf="isEdit">
                <button
                  mat-raised-button
                  class="m-jumbo-button m-pointer"
                  (click)="editEmailTemplate()"
                  *ngIf="emailTemplateForm.form.valid"
                >
                  Update
                </button>
                <button
                  mat-raised-button
                  class="m-jumbo-button m-pointer"
                  (click)="updateEdit()"
                  *ngIf="!emailTemplateForm.form.valid"
                >
                  Update
                </button>
              </div>
  
              <button
                mat-raised-button
                class="m-jumbo-button m-pointer"
                (click)="cancelEmailTemplate()"
              >
                Cancel
              </button>
            </div>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  