<div class="m-container">
  <mat-card class="m-title">
    <h3>Events / Update Match Stats</h3>
  </mat-card>

  <mat-card style="min-height: 45vh">

    <mat-card style="padding: 0px 20px;">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="input-container">
          <div class="label-container">
            <span class="label">Event Name</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <input matInput [(ngModel)]="event.name" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="input-container">
          <div class="label-container">
            <span class="label-icon">
            </span>
            <span class="label">Date</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <input matInput [(ngModel)]="startDate" readonly>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container">
          <div class="label-container">
            <span class="label-icon">
            </span>
            <span class="label">Winner</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <mat-select (selectionChange)="getWinner($event.value)" [value]="winningTeam">
                <mat-option value="team1"> {{eventType1}} </mat-option>
                <mat-option value="team2"> {{eventType2}} </mat-option>
                <!-- <mat-option *ngFor="let winner of winningTeam" [value]="winner.value">{{winner.viewValue}}</mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card>

    <div class="m-container">
      <mat-card style="min-height: 22vh">
        <mat-card-title fxLayout="row">
          <div fxFlex="40">
            <mat-icon class="headingIcon">location_on</mat-icon>
            <span class="text">
              <!-- {{event.location && event.location.address_line_1? event.location.address_line_1 : ''}} -->
              {{event.location}}
            </span>
          </div>
          <div fxFlex="40">
            <mat-icon class="headingIcon">access_time</mat-icon>
            <span class="text">{{startTime}}</span>
          </div>
        </mat-card-title>
        <mat-card-content>

          <mat-divider class="m-divider"></mat-divider>
          <br>
          <div class="m-table-container" style="height: 215px">
            <mat-table #table [dataSource]="dataS">
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Team Name </span>
                </mat-header-cell>
           
                  <mat-cell *matCellDef="let element" class="textCenter"> {{element.name}} </mat-cell>
            
              </ng-container>
              <ng-container matColumnDef="setsWon">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Sets Won </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{ element.setsWon}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="5" [(ngModel)]="element.setsWon" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="set1">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Set 1 </span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{element.set_1}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="25" [(ngModel)]="element.set_1" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="set2">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Set 2</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{element.set_2}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="25" [(ngModel)]="element.set_2" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="set3">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Set 3</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{element.set_3}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="25" [(ngModel)]="element.set_3" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="set4">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Set 4</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{element.set_4}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="25" [(ngModel)]="element.set_4" />
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="set5">
                <mat-header-cell *matHeaderCellDef>
                  <span class="m-table-header">Set 5</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="textCenter">
                  <span [hidden]="this.mode=='edit'">
                    {{element.set_5}}
                  </span>
                  <input [hidden]="this.mode=='read'" type="number" min="0" max="25" [(ngModel)]="element.set_5" /></mat-cell>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef class="textCenter"> Actions </mat-header-cell>
                <mat-cell *matCellDef="let element" >
                  <span class="table-icon m-pointer" (click)="editMatchScore()" title="Edit Score">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="m-row" fxLayout="row" fxLayoutAlign="center">
              <button mat-raised-button class="m-jumbo-button m-pointer" (click)="saveMatchScore()">Save Match Score</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="m-container">
      <mat-card class="m-title">
        <h3>Events / Update Player Stats</h3>
      </mat-card>
      <!-- <form #statForm=ngForm> -->
      <mat-card style="min-height: 77vh">
        <mat-card style="height: 75%;">
          <mat-card fxFlex="21" style="height: 90%">
            <mat-card-title>
              <span class="text"> Athletes</span>
              <mat-icon class="search-icon">search</mat-icon>
            </mat-card-title>
            <mat-divider></mat-divider>
            <br />
            <mat-card-content>
              <mat-radio-group>
                <!-- *ngIf="homeTeamWinner" -->
                <mat-radio-button style="color: black" (click)="selectAthlete(athlete, i)" class="athlete-radio-button"
                  style="display: block;padding: 7px;" *ngFor="let athlete of athletesList; let i = index" [value]="athlete._id"
                  (change)="athleteChanged($event)">
                  <!-- <div *ngIf="statForm.form.valid"> -->
                  {{ athlete.name}}
                  <!-- </div> -->
                  <br />
                </mat-radio-button>

              </mat-radio-group>

              <!-- 
              <mat-radio-group *ngIf="!homeTeamWinner">

                <mat-radio-button style="color: black" (click)="selectAthlete(athlete, i)" class="athlete-radio-button"
                  style="display: block;padding: 7px;" *ngFor="let athlete of athletesList; let i = index" [value]="athlete._id"
                  (change)="athleteChanged($event)">
                  {{athlete}}
                  <br />
                </mat-radio-button>

              </mat-radio-group> -->


            </mat-card-content>
          </mat-card>
          <mat-card fxFlex="75" style="height: 90%">
            <mat-card-title>
              <span class="text"> Parameters </span>
            </mat-card-title>`
            <mat-divider></mat-divider>
            <br />
            <mat-card-content>
              <div class="field-container" fxLayoutAlign="left">
                <div class="label" fxLayoutAlign="left">
                  No. of sets played
                </div>
                <div class="input-field" fxLayoutAlign="left">
                  <mat-form-field class="m-form-input" [floatLabel]="'never'">
                    <input matInput *ngIf="editStat" [(ngModel)]="stats.no_of_set" readonly>
                    <input matInput type="number" min="0" max="5" onKeyPress="if(this.value.length==1) return false;"
                      *ngIf="saveStat" [(ngModel)]="stats.no_of_set" required>
                    <input matInput type="number" min="0" max="5" onKeyPress="if(this.value.length==1) return false;"
                      *ngIf="updateStat" [(ngModel)]="stats.no_of_set" required>
                  </mat-form-field>
                </div>
              </div>


              <div class="field-container" fxLayoutAlign="left">
                <div class="label" fxLayoutAlign="left">
                  Position
                </div>
                <div class="input-field" fxLayoutAlign="left">
                  <!-- <mat-form-field class="m-form-input" [floatLabel]="'never'"> [(ngModel)]="stats.position"
                    <input matInput *ngIf="editStat" [(ngModel)]="stats.position" readonly>
                    <input matInput *ngIf="saveStat" [(ngModel)]="stats.position" required>
                    <input matInput *ngIf="updateStat" [(ngModel)]="stats.position" required>
                  </mat-form-field> -->
                  <mat-form-field [floatLabel]="'never'" *ngIf="editStat" disabled>
                    <mat-select matInput placeholder="Select Position" [(ngModel)]="selectedPosition" name="athletPosition">
                      <mat-option *ngFor="let position of positionList" [value]="position._id" (click)='getposition(position)'>{{
                        position.positonview?position.positonview:" "}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field [floatLabel]="'never'" *ngIf="saveStat">
                    <mat-select matInput placeholder="Select Position" [(ngModel)]="selectedPosition" name="athletPosition">
                      <mat-option *ngFor="let position of positionList" [value]="position._id" (click)='getposition(position)'>{{position.positonview?position.positonview:" "}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field [floatLabel]="'never'" *ngIf="updateStat">
                    <mat-select matInput placeholder="Select Position" [(ngModel)]="selectedPosition" name="athletPosition">
                      <mat-option *ngFor="let position of positionList" [value]="position._id" (click)='getposition(position)'>{{position.abbr
                        + ' - ' +position.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>

              <div class="card-row" fxLayout="row" fxLayoutAlign="space-between">
                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Serving
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        Serving Attempts
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serving_attempts" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serving_attempts" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2)  return false;"
                            [(ngModel)]="stats.serving_attempts" required>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="field-container">
                      <div class="label">
                        Serving Aces
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serving_aces" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serving_aces" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serving_aces" required>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="field-container">
                      <div class="label">
                        Serving Errors
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serving_errors" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serving_errors" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serving_errors" required>
                        </mat-form-field>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>

                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Serve Receive
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        0
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serve_receive_0" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_0" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_0" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        1
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serve_receive_1" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_1" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_1" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        2
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serve_receive_2" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_2" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_2" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        3
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.serve_receive_3" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_3" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.serve_receive_3" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- <div class="field-container">
                        <div class="label">
                          SRAttempts 
                        </div>
                        <div class="input-field">
                          <mat-form-field class="m-form-input" [floatLabel]="'never'">
                            <input matInput *ngIf = "editStat" [(ngModel)]="stats.SRattempts" readonly>
                            <input matInput *ngIf = "saveStat" [(ngModel)]="stats.SRattempts" >
                            <input matInput *ngIf = "updateStat" [(ngModel)]="stats.SRattempts" >
                          </mat-form-field>
                        </div>
                      </div> -->

                  </mat-card-content>
                </mat-card>

                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Setting
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        Assists
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.setting_assists" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.setting_assists" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.setting_assists" required>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>

              </div>
              <div class="card-row" fxLayout="row" fxLayoutAlign="space-between">
                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Attacking
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        Attempts
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.attacking_attempts" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_attempts" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_attempts" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        Kills
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.attacking_kills" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_kills" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_kills" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        Errors
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.attacking_errors" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_errors" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_errors" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        Blocks
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.attacking_blocks" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_blocks" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.attacking_blocks" required>
                        </mat-form-field>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>

                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Blocking
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        Blocks
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.blocking_blocks" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.blocking_blocks" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.blocking_blocks" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        Errors
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.blocking_errors" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.blocking_errors" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.blocking_errors" required>
                        </mat-form-field>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>

                <mat-card class="small-cards" fxFlex="33">
                  <mat-card-title>
                    Digging
                  </mat-card-title>
                  <mat-card-content>
                    <div class="field-container">
                      <div class="label">
                        Digs
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.digging_digs" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.digging_digs" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.digging_digs" required>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="field-container">
                      <div class="label">
                        Errors
                      </div>
                      <div class="input-field">
                        <mat-form-field class="m-form-input" [floatLabel]="'never'">
                          <input matInput *ngIf="editStat" [(ngModel)]="stats.digging_errors" readonly>
                          <input matInput *ngIf="saveStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.digging_errors" required>
                          <input matInput *ngIf="updateStat" type="number" min="0" max="99" onKeyPress="if(this.value.length==2) return false;"
                            [(ngModel)]="stats.digging_errors" required>
                        </mat-form-field>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>

              </div>
            </mat-card-content>
          </mat-card>
          <!-- </mat-card-content> -->
        </mat-card>

        <div class="m-row" fxLayout="row" fxLayoutAlign="center">
          <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="saveStat" (click)="SavePlayerStats()">Save</button>
          <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="updateStat" (click)="updatePlayerStats()">Update</button>
          <!-- <div *ngIf="saveStat">
            <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="statForm.form.valid" (click)="SavePlayerStats()">Submit</button>
            <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="!statForm.form.valid" (click)="statSubmit()">Submit</button>
          </div> -->
          <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="editStat" (click)="EditPlayerStats($event)">Edit</button>
          <!-- <div *ngIf="updateStat">
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updatePlayerStats()" *ngIf="statForm.form.valid">Update</button>
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updateEdit()" *ngIf="!statForm.form.valid">Update</button>
          </div> -->

          <button mat-raised-button class="m-jumbo-button m-pointer" (click)="cancelStat()">Cancel</button>
        </div>
      </mat-card>
      <!-- </form> -->
    </div>



  </mat-card>

</div>