<div class="m-container">
  <mat-card class="m-title">
    <h3>{{title}}</h3>
  </mat-card>
  <form #resourceForm="ngForm">
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <!-- left card -->
        <div fxFlex="49">
          <mat-card class="childContainer">

            <div class="input-container">
              <div class="label-container">
                <span class="label-icon">

                </span>
                <span class="label">User</span>
              </div>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <input matInput [value]="loggedInUser" disabled name="curUser">
                </mat-form-field>
              </div>
            </div>

            <!-- <div class="input-container">
            <div class="label-container">
              <span class="label-icon">

              </span>
              <span class="label">CREATED BY</span>
            </div>
            <div class="field-container">
              <mat-form-field [floatLabel]="'never'">
                <mat-select placeholder="Select Coach" [(ngModel)]="resource.created_by">
                  <mat-option *ngFor="let coach of coachList" [value]="coach.user_id">{{coach.first_name ? coach.first_name : 'NA'}} {{coach.last_name ? coach.last_name: ""}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> -->


            <div class="input-container">
              <div class="errortxt" [hidden]="category.valid || category.untouched">
                Resouce Type is required
              </div>
              <div class="label-container">
                <span class="label-icon">
                </span>
                <span class="label">Resouce Type</span>
              </div>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <mat-select matInput placeholder="Select resource type" name="category" #category="ngModel" required
                    [(ngModel)]="resource.type" [disabled]="categoryDisable">
                    <mat-option value="video">Video</mat-option>
                    <mat-option value="image">Image</mat-option>
                    <mat-option value="doc">Document</mat-option>
                    <mat-option value="quiz">Quiz</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>


          </mat-card>
        </div>

        <!-- right card -->
        <div fxFlex="49">
          <mat-card class="childContainer">

            <div class="input-container">
              <div class="errortxt" [hidden]="resourceName.valid || resourceName.pristine">
                Resouce Name is required
              </div>
              <div class="errortxt" [hidden]="!resourceName.hasError('pattern')">Only alphabets allowed</div>
              <div class="label-container">
                <span class="label-icon">

                </span>
                <span class="label">Resouce Name</span>
              </div>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <input matInput placeholder="Resource name" name="resourceName" pattern="[a-zA-Z][a-zA-Z ]+"
                    #resourceName="ngModel" required [(ngModel)]="resource.resource_name">
                </mat-form-field>
              </div>
            </div>

            <div class="input-container">
              <div class="errortxt" [hidden]="assignCategory.valid || assignCategory.untouched">
                Assignment Category is required
              </div>
              <div class="label-container">
                <span class="label-icon">

                </span>
                <span class="label">Assignment Category</span>
              </div>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <mat-select matInput name="assignCategory" #assignCategory="ngModel" required placeholder="Select assignment"
                    [(ngModel)]="resource.assignment_type">
                    <mat-option *ngFor="let assignment of assignmentList" [value]="assignment._id">{{assignment.AssignmentType}}</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </mat-card>
        </div>
      </div>

      <mat-card *ngIf="resource.type === 'video'" style="padding: 12px 24px">
       
        <div fxLayout="row">
          <div class="input-container" fxFlex="100">
        <div *ngIf="pro">
            <mat-progress-bar mode="determinate" value={{progress}}></mat-progress-bar>{{progress}}%
          </div>
      </div>
    </div>
   <div fxLayout="row" >
        <div class="input-container" fxFlex="40">
          <div class="label-container">
            <span class="label-icon">
              <!-- <i class="far fa-list-alt"></i> -->
            </span>
            <span class="label">Upload Video</span>
          </div>
          <div class="field-container">
            <input type="file" style="display: none" #videoInput (change)="getVideoDetail($event)">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Upload video" style='color:blue;' class="m-pointer" [value]="selectedVid"
                (click)='playVideo()'>
                <!-- <video *ngIf="selectedVid" width="100" height="100" controls>
                  <source [src]="selectedVid"     (click)='playVideo()' type="video/mp4">
                </video>  -->

              <mat-hint> Hint/suggestion</mat-hint>
              <span matSuffix class="m-pointer">
                <i class="fas fa-upload" (click)="videoInput.click()"></i>
              </span>
            </mat-form-field>
          </div>
        </div>

        <div class="input-container" fxFlex="40">
          <div class="label-container">
            <span class="label-icon">
              <!-- <i class="far fa-list-alt"></i> -->
            </span>
            <span class="label">Video Name</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Video name" class="m-pointer" name="videoName" [(ngModel)]="resource.video_name">
            </mat-form-field>
          </div>
        </div>

        <button class="border-button" (click)="uploadVideo()">Save</button>
</div>
      </mat-card>

      <mat-card  *ngIf="resource.type === 'image'" style="padding: 12px 24px">
          <div fxLayout="row">
              <div class="input-container" fxFlex="100">
            <div *ngIf="pro">
                <mat-progress-bar mode="determinate" value={{progress}}></mat-progress-bar>{{progress}}%
              </div>
          </div>
        </div>
        <div fxLayout="row">
        <div class="input-container" fxFlex="40">
          <div class="label-container">
            <span class="label-icon">
              <!-- <i class="far fa-list-alt"></i> -->
            </span>
            <span class="label">Upload Image</span>
          </div>
          <div class="field-container">
            <input type="file" style="display: none" #imageInput (change)="getImageDetail($event)">
            <mat-form-field [floatLabel]="'never'" >
              <input matInput placeholder="Upload image" class="m-pointer" [value]="selectedImg"  (click)='openImage()' 
                readonly>
              <mat-hint> Hint/suggestion</mat-hint>
              <img *ngIf="selectedImg" [src]="_DomSanitizationService.bypassSecurityTrustUrl(selectedImg)" (click)='openImage()'  height="100" width="150"/> 
            
              <span matSuffix class="m-pointer">
                <i class="fas fa-upload"(click)="imageInput.click()" ></i>
              </span>
            </mat-form-field>
          </div>
        </div>
        <div class="input-container" fxFlex="40" style='    flex: 1 1 100%;
          box-sizing: border-box;
          max-width: 100%;'>
          <div class="label-container" style='    width: 25%;
            display: inline-block;'>
            <span class="label">Image Name</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Image name" class="m-pointer" name="imageName" [(ngModel)]="resource.image_name">
            </mat-form-field>
          </div>
        </div>
        <button class="border-button" (click)="uploadImage()">Save</button>
      </div>
      </mat-card>

      <mat-card fxLayout="row" *ngIf="resource.type === 'doc'" style="padding: 12px 24px">
        <div class="input-container" fxFlex="40">
          <div class="label-container">
            <span class="label-icon">
              <!-- <i class="far fa-list-alt"></i> -->
            </span>
            <span class="label">Upload Document</span>
          </div>
          <div class="field-container">
            <input type="file" style="display: none" #documentInput (change)="getDocDetails($event)">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Upload document" class="m-pointer" [value]="docUploadName" (click)='openDoc()'>
              <mat-hint> Hint/suggestion</mat-hint>
              <span matSuffix class="m-pointer">
                  <!-- <iframe id="viewer" frameborder="0" scrolling="no" width="400" height="600"></iframe> -->
                <i class="fas fa-upload" (click)="documentInput.click()"></i>
              </span>
            </mat-form-field>
          </div>
        </div>

        <div class="input-container" fxFlex="40">
          <div class="label-container">
            <span class="label-icon">
              <!-- <i class="far fa-list-alt"></i> -->
            </span>
            <span class="label">Document Name</span>
          </div>
          <div class="field-container">
            <mat-form-field [floatLabel]="'never'">
              <input matInput placeholder="Document name" class="m-pointer" name="docname" #docname="ngModel"
                [(ngModel)]="documentName">
            </mat-form-field>
          </div>
        </div>

        <button class="border-button" (click)="uploadDocs()">Save</button>

      </mat-card>

      <mat-card *ngIf="resource.type === 'quiz'">

        <div fxLayout="row">
          <div fxFlex="40" fxFlexOffset="16" class="input-container">
            <div class="label-container">
              <span class="label-icon">
                <!-- <i class="far fa-list-alt"></i> -->
              </span>
              <span class="label">Quiz Name</span>
            </div>
            <div class="field-container">
              <mat-form-field [floatLabel]="'never'">
                <input matInput placeholder="Quiz name" class="m-pointer" name="quizname" [(ngModel)]="resource.quiz_name">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div fxLayout="column" style="margin: 10px" *ngFor="let q of count; let i = index">
          <div fxLayout="row" fxLayoutAlign="center start" class="question-container">
            <div fxFlex="70" class="question-box">
              <div class="question-mark">
                <button class="fab-button">
                  <i class="fas fa-question"></i>
                </button>
              </div>
              <input type="text" name="quesField" [(ngModel)]="q.Question">
            </div>
            <div fxFlex="0" class="button" *ngIf="count.length - 1 === i">
              <button class="fab-button" (click)="count.push({question_no : i + 1, Question : ''});addQuestions(count[i])">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </mat-card>



      <mat-card>
        <!-- <div fxLayout="row" fxLayoutAlign="center center" style="margin: 5px">
         
          <div *ngIf="!isEdit">
            <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="resourceForm.form.valid" (click)="createResource()">Submit</button>
        
              <button mat-raised-button class="m-jumbo-button m-pointer"  *ngIf="!resourceForm.form.valid" [disabled]="!isSubmit" (click)="resourceSubmit()">Submit</button>
     
          </div>
          <div *ngIf="isEdit">
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updateResource()" *ngIf="resourceForm.form.valid">Update</button>
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updateEdit()" *ngIf="!resourceForm.form.valid">Update</button>
          </div>

         
          <button mat-raised-button class="m-jumbo-button m-pointer" (click)='cancelChanges()'>Cancel</button>
        </div> -->


        <div fxLayout="row" fxLayoutAlign="center center" style="margin: 5px">
          <div *ngIf="!isEdit">
            <!-- <button
                      mat-raised-button
                      class="m-jumbo-button m-pointer"
                      (click)="onSubmit()"
                    >
                      Submit
                    </button> -->
            <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="resourceForm.form.valid" (click)="createResource()">
              Submit
            </button>
            <button mat-raised-button class="m-jumbo-button m-pointer" *ngIf="!resourceForm.form.valid" (click)="updateEdit()">
              Submit
            </button>
          </div>
          <div *ngIf="isEdit">
        
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updateResource()" *ngIf="resourceForm.form.valid">
              Update
            </button>
            <button mat-raised-button class="m-jumbo-button m-pointer" (click)="updateEdit()" *ngIf="!resourceForm.form.valid">
              Update
            </button>
          </div>
          <button mat-raised-button class="m-jumbo-button m-pointer" (click)="cancelChanges()">
            Cancel
          </button>
        </div>
      </mat-card>
    </mat-card>
  </form>
</div>
