<div class="m-container">
  <mat-card class="m-title">
    <h3>{{ title }}</h3>
  </mat-card>
  <form
    #EventForm="ngForm"
    (ngSubmit)="EventForm.form.valid && submitEventType()"
    name="form"
  >
    <mat-card fxLayout="row" style="padding: 12px 24px">
      <div class="input-container">
        <!-- <div class="errortxt" [hidden]="colorName.valid || colorName.pristine">
                 Color Name is required
                </div>
                <div class="errortxt" [hidden]="!colorName.hasError('pattern')">Only alphabets allowed</div> -->
        <div
          class="label-container"
          style="
              width: 10%; padding-right: 20px;"
        >
          <span class="label-icon"> </span>
          <span class="label">Event Type Name</span>
        </div>
        <div class="field-container">
          <mat-form-field [floatLabel]="'never'">
            <input
              matInput
              placeholder="Enter Event  Name"
              [(ngModel)]="event_type"
              name="eventtype"
              #eventtype="ngModel"
              required
              [ngClass]="{
                'is-invalid': EventForm.submitted && eventtype.invalid
              }"
            />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button
          *ngIf="!isEdit"
          mat-raised-button
          class="m-jumbo-button m-pointer"
          type="submit"
        >
          Save
        </button>
        <button
          mat-raised-button
          class="m-jumbo-button m-pointer"
          type="submit"
          *ngIf="isEdit"
        >
          Update
        </button>
      </div>
    </mat-card>
  </form>
</div>
