<div class="m-container">
  <mat-card class="m-title" fxLayout="row" fxLayoutAlign="space-between">
    <div><h3>Profiles</h3></div>

    <button
      mat-raised-button
      class="m-button m-pointer"
      routerLink="/profiles/add"
    >
      Add Profile &nbsp;&nbsp;+
    </button>
  </mat-card>

  <mat-card style="min-height: 77vh">
    <div class="m-table-container" fxLayout="row" fxLayoutAlign="space-between">
      <div>
        Profiles Details
      </div>
      <div>
        <button
          mat-raised-button
          ng-init="buttontext='Show All'"
          (click)="ShowAll($event)"
        >
          {{ buttontext }}
        </button>
      </div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            (keyup)="doFilter($event)"
            [placeholder]="keyup ? 'Please Press Enter key' : 'Search by Name'"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-paginator
          #paginator
          [length]="totalLength"
          [pageSize]="limit"
          [pageSizeOptions]="pageLimit"
          (page)="changePage($event)"
        >
        </mat-paginator>
      </div>
    </div>

    <mat-card-content>
      <mat-divider class="m-divider"></mat-divider>
      <br />

      <div class="m-table-container" *ngIf="tabledataloaded">
        <mat-table
          #table
          [dataSource]="dataSource"
          matSort
          (matSortChange)="namesort($event)"
        >
          <!-- <ng-container matColumnDef="pnr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">PNR</span>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              style="margin-left: 1% !important"
            >
              {{ element._id }}
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="first_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">First Name</span>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              style="margin-left: 2% !important"
            >
              {{ element.first_name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="last_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">Last Name</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.last_name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef class="textCenter">
              <span class="m-table-header"> User Role(s)</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.type }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header"> Username</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.username }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header"> Email</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.email }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="mobile_phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header"> Mobile Phone</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="textCenter">
              {{ element.phone ? inputChanged(element.phone) : '' }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_on">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="margin-left: 2% !important"
            >
              <span class="m-table-header"> Created On</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.created_on | date: 'MM/dd/yyyy' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="last_used">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="textCenter"
            >
              <span class="m-table-header"> Last Used</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.last_used | date: 'yyyy-MM-dd HH:mm ' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="platform">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header">Platform</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.platform ? element.platform : '' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="app_version">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header"> Version</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.app_version ? element.app_version : '' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="m-table-header"> Status </span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button
                (click)="InactiveUser(element)"
                [class]="element.active ? 'inactive' : 'active'"
                ng-hide="element.active=false"
              >
                {{ getStatus(element.active) }}
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef class="textCenter">
              Actions
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <span
                class="table-icon m-pointer"
                (click)="editProfiles(element)"
                title="Edit Profile"
              >
                <i class="fas fa-pencil-alt"></i>
              </span>
              <span
                class="table-icon m-pointer"
                (click)="deleteProfile(element)"
              >
                <i class="fas fa-trash"></i>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
