<div class="m-container">
  <mat-card class="m-title">
    <div fxLayout="row">
      <div fxFlex="50%" style="justify-content: flex-start; display: flex;">
        <p>Dashboard</p>
      </div>
      <div fxFlex="50%" style="justify-content: flex-end; display: flex;">
        <p>Current Season: Winter (12 Days Remaining)</p>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="card-container">
        <mat-card *ngFor="let state of dashboardStates" class="card-item">
          <mat-card-content (click)="navigateToPage(state.name)">
            <div class="card-label">{{ state.name }}</div>
            <div class="user-count">{{ state.userCount }}</div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <div fxLayout="row" fxLayoutAlign="normal" class="m-table-container top-head">
      <div class="column">
        <h3>Users</h3>
        <mat-card-content>
          <div class="card-container">
            <app-bar-chart></app-bar-chart>
          </div>
        </mat-card-content>
      </div>
      <div class="column">
        <h3>Transaction Histories</h3>
        <mat-card-content>
          <div class="card-container">
            <app-payment-bar-chart></app-payment-bar-chart>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>