.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
}
.column{
  padding: 0 10px;
}
.card-item {
  width: calc(25% - 20px);
  margin: 10px;
}

.card-label {
 
  text-align: center;
  width: 100%;
  font-size: 18px; /* Adjust the font size as needed */
}

.user-count {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
